{% extends "mealprep/_base.html" %}

{% block content %}
<h1>Options</h1>
<a href="{% url 'mealprep:meal-item-create' %}">Create</a>
<ul>
  {% for meal in object_list %}
    <li>
      {{ meal|capfirst }}
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="meal" value="{{ meal }}">
        <input type="submit" value="Add">
      </form>
      <a href="{% url 'mealprep:meal-item-update' meal.id %}">Edit</a>
      <a href="{% url 'mealprep:meal-item-delete' meal.id %}">Delete</a>
    </li>
  {% endfor %}
</ul>
<a href="{% url 'mealprep:meal-plan' %}">meal plan</a>
<a href="{% url 'mealprep:grocery-list' %}">grocery list</a>
{% endblock content %}